.navBarButton {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 5%;
}

.navCont {
    margin: 5% 0;
}

.btnNav button {
    width: 120px;
    height: 42px;
    font-size: 1.8rem;
    border-radius: 0.25rem;
    border: none;
    border-left: 1px dashed white;
    background-color: #181818;
    color: white;
}

.NavBar-text {
    font-size: 21px;
}