.selectSection {
  width: 100vw;
  min-width: 400px;
  height: 100vh;
  margin-top: 15%;
  padding: 3%;
  background-image: url('../img/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 20px rgba(34, 34, 36, 0.795) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectSection>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectSection>div>div {
  width: 100%;
}

.zoomed {
  animation: none !important;
}

.selectSection>div>div>h1 {
  color: white;
}

.select_containerScroll {
  width: 100vw;
}

.select_containerScroll>div {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .selectSection {
    background: url('../img/laser.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}