.landing_text {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_text>p {
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow:
        20px 20px 50px #181818,
        -30px -30px 60px #302e2eb7,
        -8px 8px 12px 0 rgba(73, 70, 70, 0.3),
        5px -5px 10px rgba(102, 100, 100, 0.438),
        12px 12px 16px 0 rgba(63, 61, 61, 0.26) inset,
        -8px -8px 12px 0 rgba(12, 12, 12, 0.25) inset;
}

.text_container {
    height: 400px !important;
}